/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

:root {
  /* Sakura */
  --sk-bg: #f9f9f9;
  --sk-br: #f1f1f1;
  --sk-tx: #4a4a4a;
  --sk-lk: #2c8898;
  --sk-ac: #982c61;

  /* dark */ 
  --sk-d-bg: #222222;
  --sk-d-br: #ffffff;
  --sk-d-tx: #c9c9c9;
  --sk-d-lk: #c9c9c9;
  --sk-d-ac: #4a4a4a;

  /* dark-solarized */
  --sk-ds-bg: #002b36;
  --sk-ds-br: #2aa198; 
  --sk-ds-tx: #839496;
  --sk-ds-lk: #073642;
  --sk-ds-ac: #657b83;

  /* earthly */
  --sk-e-bg: #ffffff;
  --sk-e-br: #008b6a;
  --sk-e-tx: #222222;
  --sk-e-lk: #008b6a;
  --sk-e-ac: #4ed0eb;

  /* ink */
  --sk-i-bg: #ffffff;
  --sk-i-br: #3b22ea;
  --sk-i-tx: rgba(0, 0, 0, 0.85);
  --sk-i-lk: #3b22ea;
  --sk-i-ac: #DA4453;

  /* vader */
  --sk-v-bg: #120c0e;
  --sk-v-br: #eb99a1;
  --sk-v-tx: #d9d8dc;
  --sk-v-lk: #eb99a1;;
  --sk-v-ac: #DA4453;
}

/* Body */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; }

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: var(--sk-tx);
  background-color: var(--sk-bg);
  padding: 13px; }

@media (max-width: 684px) {
  body {
    font-size: 1.53rem; } }

@media (max-width: 382px) {
  body {
    font-size: 1.35rem; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2.00em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin-top: 0px;
  margin-bottom: 2.5rem; }

small, sub, sup {
  font-size: 75%; }

hr {
  border-color: var(--sk-lk); }

a {
  text-decoration: none;
  color: var(--sk-lk); }
  a:hover {
    color: var(--sk-ac);
    border-bottom: 2px solid var(--sk-tx); }

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

li {
  margin-bottom: 0.4em; }

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid var(--sk-lk);
  margin-bottom: 2.5rem;
  background-color: var(--sk-br); }

blockquote p {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

/* Pre and Code */
pre {
  background-color: var(--sk-br);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: var(--sk-br);
  white-space: pre-wrap; }

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre; }

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; }

td, th {
  padding: 0.5em;
  border-bottom: 1px solid var(--sk-br); }

/* Buttons, forms and input */
input, textarea {
  border: 1px solid var(--sk-tx); }
  input:focus, textarea:focus {
    border: 1px solid var(--sk-lk); }

textarea {
  width: 100%; }

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--sk-lk);
  color: var(--sk-bg);
  border-radius: 1px;
  border: 1px solid var(--sk-lk);
  cursor: pointer;
  box-sizing: border-box; }
  .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
    background-color: var(--sk-ac);
    border-color: var(--sk-ac);
    color: var(--sk-bg);
    outline: 0; }

textarea, select, input[type] {
  color: var(--sk-tx);
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: var(--sk-br);
  border: 1px solid var(--sk-br);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  textarea:focus, select:focus, input[type]:focus {
    border: 1px solid var(--sk-lk);
    outline: 0; }

input[type="checkbox"]:focus {
  outline: 1px dotted var(--sk-lk); }

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
