$color-blossom: #980255;
$color-fade: #753851;

$color-bg: #ffe4f5;
$color-bg-alt: #f8d2e9;

$color-text: #49002d;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

@import "main";
