@use 'defaults' as defaults;
@forward 'main' with (
    $color-blossom: #ffffff,
    $color-fade: #c9c9c9,

    $color-bg: #222222,
    $color-bg-alt: #4a4a4a,

    $color-text: #c9c9c9,
    $font-size-base: defaults.$font-size-base,
    
    $font-family-base: defaults.$font-family,
    $font-family-heading: defaults.$font-family 
);