
$color-blossom: #D415D4;
$color-fade: #00ffff;

$color-bg: #000000;
$color-bg-alt: #1b1e24;

$color-text: #32cd32;
$font-size-base: 1.8rem;

$font-family-base: "SF Mono", "Menlo", "Consolas", "Noto Mono", "Courier New", Courier, monospace;
$font-family-heading: $font-family-base;


@import "main";
