$color-blossom: #338618;
$color-fade: #5e5e5e;

$color-bg: #f9f9f9;
$color-bg-alt: #C7E3BE;

$color-text: #4a4a4a;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

@import "main";
