@use 'defaults' as defaults;
@forward 'main' with (
    $color-blossom: #3b22ea,
    $color-fade: #DA4453,

    $color-bg: #ffffff,
    $color-bg-alt: #f7f7f7,

    $color-text: rgba(0,0,0,0.85),
    $font-size-base: defaults.$font-size-base,
    
    $font-family-base: defaults.$font-family,
    $font-family-heading: defaults.$font-family 
);