$color-blossom: #338618;
$color-fade: #5e5e5e;

$color-bg: #f9f9f9;
$color-bg-alt: #C7E3BE;

$color-text: #4a4a4a;
$font-size-base: 1.8rem;

$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import "main";
