$color-blossom: #2aa198;
$color-fade: #657b83;

$color-bg: #002b36;
$color-bg-alt: #073642;

/* $color-text: #dedce5; */
$color-text: #839496;
$font-size-base: 1.8rem;

$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import "main";
