@use 'defaults' as defaults;
@forward 'main' with (
    $color-blossom: #2aa198,
    $color-fade: #657b83,
    
    $color-bg: #002b36,
    $color-bg-alt: #073642,
    
    $color-text: #839496,
    $font-size-base: defaults.$font-size-base,
    
    $font-family-base: defaults.$font-family,
    $font-family-heading: defaults.$font-family 
);
