$color-blossom: #007559;
$color-fade: #006994;

$color-bg: #ffffff;
$color-bg-alt: #f7f7f7;

$color-text: #222222;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

@import "main";
