@use 'defaults' as defaults;
@forward 'main' with (
    $color-blossom: #980255,
    $color-fade: #753851,

    $color-bg: #ffe4f5,
    $color-bg-alt: #f8d2e9,

    $color-text: #49002d,
    $font-size-base: defaults.$font-size-base,
    
    $font-family-base: defaults.$font-family,
    $font-family-heading: defaults.$font-family 
);