@use 'defaults' as defaults;

$color-force: #DA4453;

@forward 'main' with (
    $color-blossom: lighten($color-force, 20%),
    $color-fade: $color-force,

    $color-bg: #120c0e,
    $color-bg-alt: #40363a,

    $color-text: #d9d8dc,
    $font-size-base: defaults.$font-size-base,
    
    $font-family-base: defaults.$font-family,
    $font-family-heading: defaults.$font-family
);