/*! sakura.css 0.4.0 | MIT License */
/*! github.com/oxalorg/sakura */

html {
    font-size: 16px;
    line-height: 1.6;
    color: #c9c9c9;
    background-color: #222222;
}

body {
    max-width: 750px;
    margin: auto;
    padding: 1em;
}

@media only screen and (max-width: 640px){
    blockquote {
        margin: 16px 20px;
    }
}

@media only screen and (min-width: 641px){
    html {
        font-size: 18px;
        line-height: 1.6;
    }
}

@media only screen and (min-width: 961px){
    html {
        font-size: 19px;
        line-height: 1.5;
    }
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

ul {
    padding-left: 1.4em;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    font-style: italic;
    padding-left: 1em;
    border-left: 3px solid #ffffff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #c9c9c9;
    border-bottom: 1px solid #f9f9f9;
}

a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

pre {
    background-color: #4a4a4a;
    display: block;
    padding: 1em;
    overflow-x: scroll;
}

code {
    font-size: 90%;
    padding: 0 0.5em;
    background-color: #4a4a4a;
    white-space: pre-wrap;
}

pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

/* Buttons, forms and input*/
input, textarea {
    border: 1px solid #f9f9f9;
}

input:focus, textarea:focus {
    border: 1px solid #ffffff;
    /*outline: 0;*/
}

select, button, input[type="submit"], input[type="reset"], input[type="button"] {
    margin-bottom: 0.5em;
    padding: 0 1em;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    color: #222222;
    line-height: inherit;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #222222;
    line-height: inherit;
}


button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    background-color: #4a4a4a;
    padding: 8px;
    border-bottom: 1px solid #222222;
}

/* ================================================================= */
/* Replace all occurances of these colors to change the entire theme! */
/* Shades of 2 alternate colors - duotones*/
.sakura-blossom {
    color: #ffffff;
}
a.sakura-blossom:hover {
    color: #f9f9f9;
}
.sakura-fade {
    color: #c9c9c9;
}
a.sakura-fade:hover {
    color: #ffffff;
}

.background-color {
    background-color: #222222;
}
.background-color-dark {
    background-color: #4a4a4a;
}
.text-color {
    color: #c9c9c9;
}
/* ================================================================= */
